<a href="https://colab.research.google.com/github/sayarghoshroy/NLP_course_at_ISB/blob/main/1_pos_tagging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import spacy
from spacy import displacy
import nltk
import numpy as np
import matplotlib.pyplot as plt
import warnings
import pandas as pd

from IPython.display import display
warnings.filterwarnings('ignore')

In [ ]:
# Initializing the spaCy processor models
proc = spacy.load("en_core_web_sm")

# embedder = spacy.load("en_core_web_lg")

# if errors: do this, this is what worked for me
# python -m spacy download en
# conda install -c conda-forge spacy
# python -m spacy download en_core_web_sm
# python -m spacy link en_core_web_sm en --force

In [ ]:
sentence = "Falcon 9's first stage booster supporting this mission previously launched Arabsat-6A, STP-2, COSMO-SkyMed Second Generation FM2, and one Starlink mission."

In [ ]:
extract = proc(sentence)

In [ ]:
def display_pos_tags(extract):
    count = 0
    index_arr = []
    words = []
    pos = []
    
    for index, token in enumerate(extract):
        index_arr.append(str(index + 1))
        words.append(token.text)
        pos.append(token.pos_.lower())
        
    d = {'Token Word': words, 'POS': pos}
    df = pd.DataFrame(index = index_arr, data = d)
    display(df)

In [ ]:
# Viewing properties
print("Number of Sentence Tokens: ", len(extract))

# Visualize the set of the extracted features
display_pos_tags(extract)

Number of Sentence Tokens:  27

    Token Word    POS
1       Falcon  propn
2            9    num
3           's   part
4        first    adj
5        stage   noun
6      booster   noun
7   supporting   verb
8         this    det
9      mission   noun
10  previously    adv
11    launched   verb
12  Arabsat-6A  propn
13           ,  punct
14       STP-2  propn
15           ,  punct
16       COSMO  propn
17           -  punct
18      SkyMed  propn
19      Second  propn
20  Generation  propn
21         FM2  propn
22           ,  punct
23         and  cconj
24         one    num
25    Starlink  propn
26     mission   noun
27           .  punct

In [ ]:
def get_nouns(sentence):
  extract = proc(sentence)

  valid_tags = set(['noun', 'propn'])
  nouns = []

  for item in extract:
    if item.pos_.lower() in valid_tags:
      nouns.append(item.text)

  return nouns

In [ ]:
get_nouns(sentence)

['Falcon',
 'stage',
 'booster',
 'mission',
 'Arabsat-6A',
 'STP-2',
 'COSMO',
 'SkyMed',
 'Second',
 'Generation',
 'FM2',
 'Starlink',
 'mission']

In [ ]:
# Using NLTK to achieve the same functionality

import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
def get_nouns_alternate(sentence):
  view = 1

  token_sequence = nltk.word_tokenize(sentence)
  tagged = nltk.pos_tag(token_sequence)

  if view:
    print('Tokens: ' + str(token_sequence))
    print('Tagged Tokens: ' + str(tagged))

  valid_tags = set(['NN', 'NNS', 'NNP', 'NNPS'])
  nouns = []

  for item in tagged:
    if item[1] in valid_tags:
      nouns.append(item[0])

  return nouns

In [ ]:
noun_list = get_nouns_alternate(sentence)

Tokens: ['Falcon', '9', "'s", 'first', 'stage', 'booster', 'supporting', 'this', 'mission', 'previously', 'launched', 'Arabsat-6A', ',', 'STP-2', ',', 'COSMO-SkyMed', 'Second', 'Generation', 'FM2', ',', 'and', 'one', 'Starlink', 'mission', '.']
Tagged Tokens: [('Falcon', 'NNP'), ('9', 'CD'), ("'s", 'POS'), ('first', 'JJ'), ('stage', 'NN'), ('booster', 'NN'), ('supporting', 'VBG'), ('this', 'DT'), ('mission', 'NN'), ('previously', 'RB'), ('launched', 'VBN'), ('Arabsat-6A', 'NNP'), (',', ','), ('STP-2', 'NNP'), (',', ','), ('COSMO-SkyMed', 'NNP'), ('Second', 'NNP'), ('Generation', 'NNP'), ('FM2', 'NNP'), (',', ','), ('and', 'CC'), ('one', 'CD'), ('Starlink', 'NNP'), ('mission', 'NN'), ('.', '.')]

In [ ]:
noun_list

['Falcon',
 'stage',
 'booster',
 'mission',
 'Arabsat-6A',
 'STP-2',
 'COSMO-SkyMed',
 'Second',
 'Generation',
 'FM2',
 'Starlink',
 'mission']

In [ ]:
# That's it